rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /members/{memberId} {
      // Allow full access for admin database operations (read, create, update, delete)
      allow create, read, update, delete: if true;
    }

    match /{document=**} {
      allow read, write: if true;
    }
  }
}
